:root {
    --background: #121212;
    --secondary-background: #1E1E1E;
    --primary-text: #E0E0E0;
    --secondary-text: #B0B0B0;
    --accent-color: #2196F3;
    --error-color: #E53935;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container, .description-container {
    width: 50%;
    margin: 50px 20px;
    padding: 20px;
    background-color: var(--secondary-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--secondary-text);
    text-align: center;
    border-radius: 10px;
}

h1, h2 {
    color: var(--primary-text);
}

.ascii-art {
    font-size: 1.2em;
    white-space: pre-wrap;
    text-align: left;
}

.description-container {
    text-align: left;
}

.description {
    font-size: 1.1em;
}
