body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #071E22;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container, .container-desc {
    width: 50%;
    margin: 50px 20px;
    padding: 20px;
    background-color: #639FAB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    text-align: center;
}

h1, h2 {
    color: #FFFFFF;
}

.ascii-art {
    font-size: 1.2em;
    white-space: pre-wrap;
    text-align: left;
}

.container-desc {
    text-align: left;
}

.description {
    font-size: 1.1em;
}
