body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #071E22;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #639FAB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #FFFFFF;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.ascii-art {
    font-size: 1.2em;
    white-space: pre-wrap;
    text-align: left;
}

